::selection {
  color: white
}

.v-rating button.v-icon {
  padding: 0rem;
}

.centered {
  text-align: center;
}

.detailPart {
  margin-bottom:0.1rem
}

.highlightFromTo {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.fieldFromTo {
  color: rgba(255, 255, 255, 0.7);
  text-align: left !important;
  font-weight: bold;
  min-width: 40px;
  pointer-events: none
}

.inputValue {
  color: white;
}


.inputValueFromTo {
  min-width: 200px;
}


input, select, textarea{
  color: white;
}
